header {
    background: black;
}

header img {
    padding: 15px;
}

.form {
    margin-top: 300px;
    text-align: center;
}

.form p {
    font-weight: bold;
    font-size: 18px;
}

.form input {
    margin-top: 25px;
    margin-bottom: 40px;
    padding: 10px 20px;
    font-weight: bold;
    border-radius: 10px;
    font-size: 18px;
    background-color: rgba(139, 139, 139, 0.266);
    border: 1px solid rgb(109, 109, 109);
}

.form a {
    color: rgb(0, 157, 255);
    text-decoration: none;
}

