.list__image {
    display: flex;
    flex-wrap: wrap;
}

.list__image img {
    width: 410px;
    height: 410px;
}

.product-content {
    margin: 60px 30px 0 30px;
}

.product-link {
    color: black;
    text-decoration: none;
    font-size: 18px;
}

.list__button {
    padding: 45px 20px 5px 100px;
    border-bottom: 2px solid black;
}

.list__btn {
    color: black;
    text-decoration: none;
    margin-left: 40px;
    font-size: 20px;
}

.list__button a:active {
    color: red;
}

.sold-label {
    font-weight: bold;
    position: absolute;
    background-color: rgba(185, 184, 184, 0.7);
    color: #fff;
    font-size: 50px;
    padding: 170px 10px;
    width: 410px;
    height: 410px;
    text-align: center;
}

@media (min-width: 1400px) and (max-width: 1540px) {
    .list__image img {
        width: 405px;
        height: 405px;
    }

    .sold-label {
        width: 405px;
        height: 405px;
    }
}

@media (min-width: 768px) and (max-width: 850px) {
    .list__image img {
        width: 310px;
        height: 310px;
    }

    .sold-label {
        padding: 130px 10px;
        width: 310px;
        height: 310px;
        font-size: 40px;
    }
}