.profile__image {
    display: flex;
    flex-wrap: wrap;
}

.profile__image img {
    width: 410px;
    height: 410px;
}

.product-content {
    margin: 60px 30px 0 30px;
}

.product-link {
    color: black;
    text-decoration: none;
    font-size: 18px;
}

.profile__button {
    padding: 20px 20px 5px 100px;
    border-bottom: 2px solid black;
}

.profile__btn {
    color: black;
    text-decoration: none;
    margin-left: 40px;
    font-size: 20px;
    align-items: end;
    font-weight: bold;
}

.user {
    display: flex;
    justify-content: center;
    padding: 30px 5px;
}

.user__img {
    display: flex;
    background-color: rgba(121, 121, 121, 0.404);
    width: 180px;
    height: 180px;
    border-radius: 50%;
}

.user__img img {
    width: 100%;
    border-radius: 50%;
}

.change {
    margin-top: 75px;
    margin-left: 10px;
}

.change a {
    border: 2px solid #ff2f00b4;
    border-radius: 5px;
    padding: 5px 10px;
}

.change__button {
    color: #ff2f00b4;
    font-size: 18px;
    text-decoration: none;
    font-weight: bold;
}

.user__name {
    margin-top: 70px;
    width: 20%;
    font-size: 24px;
    font-weight: bold;
    margin-left: 10px;
}

.profile__btn.active {
    color: red;
}

.sold-label {
    font-weight: bold;
    position: absolute;
    background-color: rgba(185, 184, 184, 0.7);
    color: #fff;
    font-size: 50px;
    padding: 170px 10px;
    width: 410px;
    height: 410px;
    text-align: center;
}

@media (min-width: 1400px) and (max-width: 1540px) {
    .profile__image img {
        width: 405px;
        height: 405px;
    }

    .sold-label {
        width: 405px;
        height: 405px;
    }
}

@media (min-width: 768px) and (max-width: 850px) {
    .profile__image img {
        width: 310px;
        height: 310px;
    }

    .sold-label {
        padding: 130px 10px;
        width: 310px;
        height: 310px;
        font-size: 40px;
    }
}